{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block javascripts %}
<script defer src="{{ asset('js/posts.js') }}"></script>
{% endblock %}

{% block body %}
{% if currentUser == post.user %}
    <div class="d-flex justify-content-end mb-4">
        <a href="{{ url('post_edit', { 'id': post.id }) }}" class="btn btn-secondary" type="button"
                aria-expanded="false" aria-controls="new-post">Edit post</a>
    </div>
{% endif %}
<strong class="text-primary">{{ post.user.username }}</strong>
<h2 class="page__title">{{ post.title }}</h2>
<div class="text-muted mb-2">
    {{ timeService.formatForDisplay(post.createdDateTime) }}
    {% if post.updatedDateTime is not null %}
        (Edited {{ timeService.formatForDisplay(post.updatedDateTime) }})
    {% endif %}
</div>
<p>{{ postText|raw }}</p>
{% endblock %}
